In [66]:
import pandas as pd

In [50]:
NY_fire_dept_dataset = pd.read_excel(r'C:\Users\Priyanka\MySimplilearnWorkspace\Newyork_city_fire_dept.xlsx')

In [17]:
NY_fire_dept_dataset.head()

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

# 1. Total no of Fire dept facility in NY city

In [11]:
NY_fire_dept_dataset['FacilityName'].drop_duplicates(inplace = True)

In [51]:
NY_fire_dept_dataset.drop(index=0,axis =0,inplace = True)

In [56]:
NY_fire_dept_dataset['FacilityName'].head()

1                                   Engine 4/Ladder 15
2                                  Engine 10/Ladder 10
3                                             Engine 6
4    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
5                                             Ladder 8
Name: FacilityName, dtype: object

In [54]:
NY_fire_dept_dataset['FacilityName'].size

218

# 2. No of fire dept facilities in each Borough

In [68]:
grouped_borough = NY_fire_dept_dataset.groupby(['Borough'])

In [70]:
grouped_borough.size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64

# 3. Facility names in Manhattan

In [73]:
grouped_borough.get_group('Manhattan')

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan
6,Engine 9/Ladder 6,75 Canal Street,Manhattan
7,Engine 15/Ladder 18/Battalion 4,25 Pitt Street,Manhattan
8,Engine 28/Ladder 11,222 East 2nd Street,Manhattan
9,Engine 5,340 East 14th Street,Manhattan
10,Engine 55,363 Broome Street,Manhattan
11,Ladder 20/Division 1,253 Lafayette Street,Manhattan
12,Engine 24/Ladder 5/Battalion 2,227-29 6th Avenue,Manhattan
13,Engine 33/Ladder 9,42 Great Jones Street,Manhattan
14,Ladder 3/Battalion 6,108 East 13th Street,Manhattan
15,Squad 18,132 West 10th Street,Manhattan
16,Engine 34/Ladder 21,440 West 38th Street,Manhattan
17,Engine 26,220 West 37th Street,Manhattan
18,Engine 3/Ladder 12/Battalion 7,150 West 19th Street,Manhattan
19,Engine 1/Ladder 24,142-46 West 31st Street,Manhattan
20,Engine 14,14 East 18th Street,Manhattan
21,Engine 16 / Ladder 7,234 East 29th Street,Manhattan
22,Engine 21,238 East 40th Street,Manhattan
23,Engine 54/Ladder 4/Battalion 9,782 8th Avenue,Manhattan
24,Engine 23,215 West 58th Street,Manhattan
25,Rescue 1,530 West 43rd Street,Manhattan
26,Engine 40/Ladder 35,131 Amsterdam Avenue,Manhattan
27,Ladder 25/District Office 4/Division 3,205-207 West 77th Street,Manhattan
28,Engine 74,120 West 83rd Street,Manhattan
29,Engine 65,33 West 43rd Street,Manhattan
30,Engine 8 / Ladder 2 / Battalion 8,167 East 51st Street,Manhattan
31,Engine 39/Ladder 16,157-59 East 67th Street,Manhattan
32,Engine 44,221 East 75th Street,Manhattan
33,Engine 22/Ladder 13/Battalion 10,159 East 85th Street,Manhattan
34,Engine 58/Ladder 26,1367 5th Avenue,Manhattan
35,Engine 53/Ladder 43,1836-46 3rd Avenue,Manhattan
36,Engine 91,242 East 111th Street,Manhattan
37,Engine 35/Ladder 14,2282 3rd Avenue,Manhattan
38,Engine 76/Ladder 22/Battalion 11,145-51 West 100th Street,Manhattan
39,Engine 47,502 West 113th Street,Manhattan
40,Engine 59/Ladder 30,111 West 133rd Street,Manhattan
41,Engine 37/Ladder 40,415 West 125th Street,Manhattan
42,Engine 69/Ladder 28/Battalion 16,248 West 143rd Street,Manhattan
43,Engine 80/Ladder 23,503 West 139th Street,Manhattan
44,Engine 84/Ladder 34,513 West 161st Street,Manhattan
45,Engine 67,518 West 170th Street,Manhattan
46,Engine 93/Ladder 45/Battalion 13,515 West 181st Street,Manhattan
47,Engine 95/Ladder 36,29 Vermilyea Avenue,Manhattan
48,Marine 1,Little West 12th Street/Hudson River,Manhattan